  <nav>
    <header id="header"><span style="color: lightblue">AD</span>Creative </header><span id="menu" >    
     <div class="menu">
     <div id="menu1"></div>
     <div id="menu2"></div>
     <div id="menu3"></div>
   </div>
</span>
   </nav>
<div id="navigation-bar">
  <p><a href="/">Home</a></p>
  <p><a href="/weather">Check Weather</a></p>
  <p><a href="/youtube">YouTube Video Downloader</a></p>
 
</div>
    